<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>100</string>
		<key>icon</key>
		<string>bus</string>
		<key>price</key>
		<string>1.25</string>
	</dict>
	<dict>
		<key>name</key>
		<string>101</string>
		<key>icon</key>
		<string>train</string>
		<key>price</key>
		<string>2.00</string>
	</dict>
	<dict>
		<key>name</key>
		<string>102</string>
		<key>icon</key>
		<string>airplane</string>
		<key>price</key>
		<string>5.00</string>
	</dict>
	<dict>
		<key>name</key>
		<string>103</string>
		<key>icon</key>
		<string>taxi</string>
		<key>price</key>
		<string>3.00</string>
	</dict>
	<dict>
		<key>name</key>
		<string>104</string>
		<key>icon</key>
		<string>tram</string>
		<key>price</key>
		<string>0.50</string>
	</dict>
	<dict>
		<key>name</key>
		<string>100</string>
		<key>icon</key>
		<string>bus</string>
		<key>price</key>
		<string>1.25</string>
	</dict>
	<dict>
		<key>name</key>
		<string>100</string>
		<key>icon</key>
		<string>bus</string>
		<key>price</key>
		<string>1.25</string>
	</dict>
	<dict>
		<key>name</key>
		<string>100</string>
		<key>icon</key>
		<string>bus</string>
		<key>price</key>
		<string>1.25</string>
	</dict>
	<dict>
		<key>name</key>
		<string>100</string>
		<key>icon</key>
		<string>bus</string>
		<key>price</key>
		<string>1.25</string>
	</dict>
	<dict>
		<key>name</key>
		<string>100</string>
		<key>icon</key>
		<string>bus</string>
		<key>price</key>
		<string>1.25</string>
	</dict>
	<dict>
		<key>name</key>
		<string>100</string>
		<key>icon</key>
		<string>bus</string>
		<key>price</key>
		<string>1.25</string>
	</dict>
	<dict>
		<key>name</key>
		<string>100</string>
		<key>icon</key>
		<string>bus</string>
		<key>price</key>
		<string>1.25</string>
	</dict>
	<dict>
		<key>name</key>
		<string>100</string>
		<key>icon</key>
		<string>bus</string>
		<key>price</key>
		<string>1.25</string>
	</dict>
	<dict>
		<key>name</key>
		<string>100</string>
		<key>icon</key>
		<string>bus</string>
		<key>price</key>
		<string>1.25</string>
	</dict>
	<dict>
		<key>name</key>
		<string>100</string>
		<key>icon</key>
		<string>bus</string>
		<key>price</key>
		<string>1.25</string>
	</dict>
	<dict>
		<key>name</key>
		<string>100</string>
		<key>icon</key>
		<string>bus</string>
		<key>price</key>
		<string>1.25</string>
	</dict>
	<dict>
		<key>name</key>
		<string>100</string>
		<key>icon</key>
		<string>bus</string>
		<key>price</key>
		<string>1.25</string>
	</dict>
	<dict>
		<key>name</key>
		<string>100</string>
		<key>icon</key>
		<string>bus</string>
		<key>price</key>
		<string>1.25</string>
	</dict>
	<dict>
		<key>name</key>
		<string>100</string>
		<key>icon</key>
		<string>bus</string>
		<key>price</key>
		<string>1.25</string>
	</dict>
	<dict>
		<key>name</key>
		<string>100</string>
		<key>icon</key>
		<string>bus</string>
		<key>price</key>
		<string>1.25</string>
	</dict>
	<dict>
		<key>name</key>
		<string>100</string>
		<key>icon</key>
		<string>bus</string>
		<key>price</key>
		<string>1.25</string>
	</dict>
	<dict>
		<key>name</key>
		<string>100</string>
		<key>icon</key>
		<string>bus</string>
		<key>price</key>
		<string>1.25</string>
	</dict>
	<dict>
		<key>name</key>
		<string>100</string>
		<key>icon</key>
		<string>bus</string>
		<key>price</key>
		<string>1.25</string>
	</dict>
	<dict>
		<key>name</key>
		<string>100</string>
		<key>icon</key>
		<string>bus</string>
		<key>price</key>
		<string>1.25</string>
	</dict>
	<dict>
		<key>name</key>
		<string>100</string>
		<key>icon</key>
		<string>bus</string>
		<key>price</key>
		<string>1.25</string>
	</dict>
	<dict>
		<key>name</key>
		<string>100</string>
		<key>icon</key>
		<string>bus</string>
		<key>price</key>
		<string>1.25</string>
	</dict>
	<dict>
		<key>name</key>
		<string>100</string>
		<key>icon</key>
		<string>bus</string>
		<key>price</key>
		<string>1.25</string>
	</dict>
	<dict>
		<key>name</key>
		<string>100</string>
		<key>icon</key>
		<string>bus</string>
		<key>price</key>
		<string>1.25</string>
	</dict>
	<dict>
		<key>name</key>
		<string>100</string>
		<key>icon</key>
		<string>bus</string>
		<key>price</key>
		<string>1.25</string>
	</dict>
	<dict>
		<key>name</key>
		<string>100</string>
		<key>icon</key>
		<string>bus</string>
		<key>price</key>
		<string>1.25</string>
	</dict>
</array>
</plist>
